{{ template "header" . }}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Uhub渠道信息</h1>
    <h2>{{.uhub_uniq_total}}</h2>

</div>
<script>
</script>
{{template "footer"}}
